body, html {
  height: 100%;
}

/* -------------Header--------------- */

.header-wraper {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  position: relative; 
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed, sans-serif";

}

.main-info h1 {
  color: blueviolet;
  text-transform: capitalize;
}

/* ----------Typed Text-------------- */

.typed-text {
  color: blue;
  font-size: 2rem;
}

/* ----------Navigation Bar-------------- */

nav {
  z-index: 2;
}

.nav-link {
  text-decoration:blue;
}